<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	<title>Pedro Valencia Bur&oacute;n</title>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript">google.load("jquery", "1.3.2");</script>
	<script type="text/javascript">
	$(function() {
		$('#nav2 li a').click(function() {
			a = $(this);
			$('#nav2 li.current_page_item').removeClass('current_page_item');
			a.parent().addClass('current_page_item');
		});
	});
	</script>
</head>

<body id="top">

<div id="layout_wrapper_outer">
<div id="layout_wrapper">

	<div id="layout_top">
		
		<div id="site_title">
			<h1><a href="index.html">Pedro <span>Valencia</span></a></h1>
			<h2>Estudiante de Ingeniería Civil en Computación de la Universidad de Chile</h2>
		</div>

	</div>

	<div id="layout_body_outer">
	<div id="layout_body">

		<div id="navigation">

			<div id="nav1">

				<ul>
					<li{% if page.title == 'Home' %} class="current_page_item"{% endif %}><a href="/index.html">Home</a></li>
					<li{% if page.title == 'Blog' %} class="current_page_item"{% endif %}><a href="/blog.html">Blog</a></li>
				</ul>

				<div class="clearer">&nbsp;</div>

			</div>

			<div id="nav2">
				<ul>
				{% if page.title == 'Home' %}
					<li><a href="#cv">Curriculum Vitae</a></li>
					<li><a href="#proyectos">Proyectos</a></li>
					<li><a href="#calendario">Mi Calendario</a></li>
				{% endif %}
				{% if page.title == 'Blog' %}
					{% for post in site.posts limit:4 %}
					<li><a href="#{{post.title}}">{{post.title}}</a></li>
					{% endfor %}
				{% endif %}
				</ul>
				<div class="clearer">&nbsp;</div>
			</div>

		</div>

		<div id="main">

			<div class="left" id="content_outer">
				<div id="content">
				{{ content }}
				</div>
			</div>

			<div class="right" id="sidebar_outer">
				<div id="sidebar">

					<div class="box">

						<div class="box_title">About</div>
						<div class="box_content">
							<p>Estudiante de Ingeniería Civil en Computación de la Universidad de Chile. <a href="http://www.cakephp.org">Cakero</a> y <a href="http://www.jquery.com">jQueriero</a>.</p>
							<div style="text-align: center;">
							<img src="http://www.gravatar.com/avatar/7b17711428a9992879436bb0828e71df?s=235" alt="Mi perfil"/>
							</div>
						</div>

					</div>
					<div class="box">

						<div class="box_title">Recursos</div>

						<div class="box_content">
							<ul>
								<li><a href="http://templates.arcsin.se/">Arcsin Web Templates</a></li>
								<li><a href="http://pvalencia.github.com/pvalencia.asc">PGP public key</a> - Mi llave pública</li>
								<li><a href="http://github.com/pvalencia/pvalencia.github.com/">Esta página</a> - El código fuente de esta página.</li>
							</ul>
						</div>

					</div>
<!--
					<div class="box">

						<div class="box_title">Gallery</div>

						<div class="box_content">

							<div class="thumbnails">
								
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>
								<a href="#" class="thumb"><img src="sample-thumbnail.jpg" width="64" height="64" alt="" /></a>

								<div class="clearer">&nbsp;</div>

							</div>

						</div>

					</div>
-->
					<div class="box">
						<div class="box_title">Frase Cliché</div>

						<div class="box_content">
							<blockquote cite="George Bernard Shaw">
								<p>"Si tú tienes una manzana y yo tengo una manzana e intercambiamos las manzanas, entonces tanto tú como yo seguiremos teniendo una manzana. Pero si tú tienes una idea y yo tengo una idea e intercambiamos ideas, entonces ambos tendremos dos ideas."</p>
								<p><cite>- George Bernard Shaw</cite></p>
							</blockquote>
						</div>
					</div>

					<div class="box">
						<p style="text-align: center;">
							<a href="http://validator.w3.org/check?uri=referer"><img
						        src="http://www.w3.org/Icons/valid-xhtml10-blue"
						        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
						</p>
					</div>
				</div>
			</div>

			<div class="clearer">&nbsp;</div>

		</div>

		<div id="dashboard">
			<div id="dashboard_inner">

				<div class="col3 left">
					<div class="col3_content">

						<div class="col_title">Proyectos</div>
						<ul>
							<li><a href="http://github.com/pvalencia/CoordinaChile">Coordina Chile</a></li>
							<li><a href="http://github.com/pvalencia/volunteercoord">Volunteer Coord</a></li>
							<li><a href="http://gist.github.com/168442">github-code-search Ubiquity</a></li>
						</ul>

					</div>
				</div>

				<div class="col3mid left">
					<div class="col3_content">

						<div class="col_title">Redes Sociales</div>
						<ul>
							<li><a href="http://twitter.com/pvalencia">Twitter</a></li>
							<li><a href="http://delicious.com/pvalencia">del.icio.us</a></li>
							<li><a href="http://github.com/pvalencia">GitHub</a></li>
						</ul>

					</div>
				</div>

				<div class="col3 right">
					<div class="col3_content">

						<div class="col_title">Páginas de Interés</div>
						<ul>
							<li><a href="http://www.cakephp.org">CakePHP</a></li>
							<li><a href="http://www.jquery.com">jQuery</a></li>
							<li><a href="http://GitHub.com">github</a></li>
						</ul>

					</div>
				</div>

				<div class="clearer">&nbsp;</div>

			</div>
		</div>

	</div>
	</div>

	<div id="footer">

		<div class="left">
			&copy; 2010 pvalencia.github.com - Pedro Valencia
		</div>
		<div class="right">
			<a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a> 
		</div>
		
		<div class="clearer">&nbsp;</div>

	</div>

</div>
</div>

<!-- Google analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10389405-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
