---
layout: default
---
<div class="post">

	<div class="post_title"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></div>
	<div class="post_date">Posteado: {{ page.date | date_to_string }}</div>
	
	<div class="post_body">
		{{content}}					
	</div>
	
	{% if false %}
	<div class="post_meta">
		<a href="#">5 comments</a> | Tagged: <a href="#">Sapien</a>, <a href="#">Sollicitudin</a>, <a href="#">Ligula</a>
	</div>
	{% endif %}

	<hr />

	<script type="text/javascript" charset="utf-8">
	  var disqus_url = "http://pvalencia.github.com{{page.url}}";
	</script>
	<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/pvalencia/embed.js"></script><noscript><a href="http://pvalencia.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>



